# Discussion 11

## SQL!!!

In [2]:
import gzip
import sqlite3
import requests
from pathlib import Path
import time 
import math

In [3]:
import pandas as pd

data = {'j_name': ['Llama Technician','Software Engineer','Open Source Maintainer','Big Data Engineer', 'Data Analyst', 'Analyst Intern'],
        'c_name': ["Google","Salesforce", "Github","Microsoft","Startup","Google"],
        'c_location' : ["MOUNTAIN VIEW", "SF", "SF", "REDMOND", "BERKELEY","SF"],
        'm_name': ["EECS","EECS","Computer Science", "Data Science", "Data Science","Philosophy"]
        }

df = pd.DataFrame(data, columns = list(data.keys()))
df

                   j_name      c_name     c_location            m_name
0        Llama Technician      Google  MOUNTAIN VIEW              EECS
1       Software Engineer  Salesforce             SF              EECS
2  Open Source Maintainer      Github             SF  Computer Science
3       Big Data Engineer   Microsoft        REDMOND      Data Science
4            Data Analyst     Startup       BERKELEY      Data Science
5          Analyst Intern      Google             SF        Philosophy

# Dataframe to Database

In [4]:
conn = sqlite3.connect('test_database')
c = conn.cursor()

In [5]:
c.execute('CREATE TABLE IF NOT EXISTS survey (j_name text, c_name text, c_location, m_name)')
conn.commit()

In [6]:
df.to_sql('survey', conn, if_exists='replace', index = False)

6

# Q1 

a) Write a SQL query that selects all data science major graduates that got jobs in Berkeley.
The result generated by your query should include all 4 columns.

In [7]:
q1a = '''





'''


c.execute(q1a)

for row in c.fetchall():
    print (row)

b) Write a SQL query to find the top 5 popular companies that data science graduates will
work at, from most popular to 5th most popular.

In [ ]:
q1b = '''





'''


c.execute(q1b)

for row in c.fetchall():
    print (row)

# Q3

Consider the following real estate schema:

In [7]:
data1 = {'home_id': [1,2,3,4],
        'city': ["SF","San Jose","SF","Palo Alto"],
        'bedrooms': [2,1,5,3],
        'bathrooms': [2,2,1,1],
        'area': [500,750,1000,250] 
        }

table1 = pd.DataFrame(data1, columns = list(data1.keys()))

table1.to_sql('Homes', conn, if_exists='replace', index = False)

data2 = {'home_id': [1,2,3,4],
        'buyer_id': [5,6,7,8],
        'seller_id': [8,7,6,5],
        'transaction_data': ['1/12/2001','4/14/2001','8/11/2001','12/21/2001'],
        'sale_price': [1000,500,750,500]
        }

table2 = pd.DataFrame(data2, columns = list(data2.keys()))

table2.to_sql('Transactions', conn, if_exists='replace', index = False)


data3 = {'buyer_id': [5,6,7,8],
        'name': ["Bella","Kanu","Rahul","Minh"],
        }

table3 = pd.DataFrame(data3, columns = list(data3.keys()))

table3.to_sql('Buyers', conn, if_exists='replace', index = False)

data4 = {'seller_id': [8,7,6,5],
        'name': ["Minh","Rahul","Kanu","Bella"],
        }

table4 = pd.DataFrame(data4, columns = list(data4.keys()))

table4.to_sql('Seller', conn, if_exists='replace', index = False)

4

In [8]:
schema1 ='''CREATE TABLE IF NOT EXISTS 
            Homes (home_id int,
                    city text,
                    bedrooms int,
                    bathrooms int, 
                    area int)
        '''
schema2 = '''CREATE TABLE IF NOT EXISTS 
            Transactions (home_id int, 
                        buyer id int, 
                        seller_id int, 
                        transaction_date text, 
                        sale_price int)
        '''
schema3 = '''CREATE TABLE IF NOT EXISTS 
            Buyers (buyer_id int, 
                    name text)
        '''
schema4 = '''CREATE TABLE IF NOT EXISTS 
            Sellers (seller_id int, 
                    name text)
        '''

c.execute(schema1)
conn.commit()
c.execute(schema2)
conn.commit()
c.execute(schema3)
conn.commit()
c.execute(schema4)
conn.commit()

Fill in the blanks in the SQL query to find the id and selling price for each home in Berkeley.
If the home has not been sold yet, the price should be NULL.

In [13]:
q3 = '''


'''
c.execute(q3)

for row in c.fetchall():
    print (row)

# Q4

Examine this schema for these two tables:

In [12]:
data5 = {'id': [10,11,12],
        'name': ["Alice","Bob","Candice"],
        }

table5 = pd.DataFrame(data5, columns = list(data5.keys()))

table5.to_sql('cat_owners', conn, if_exists='replace', index = False)

data6 = {'id': [51,52,53,54,55],
        'owner_id': ["Alice","Alice","Bob","Bob","Candice"],
        'name': ["Mittens","Whisker","Felix","Lucky","Fluffy"],
        'breed' : ["Tabby","Black","Orange","Tabby","Black"],
        'age': [1,2,1,2,1]
        }

table6 = pd.DataFrame(data6, columns = list(data6.keys()))

table6.to_sql('cats', conn, if_exists='replace', index = False)

schema5 = '''
            CREATE TABLE IF NOT EXISTS 
            cat_owners(id int, 
                    name text, 
                    age int, 
                    PRIMARY KEY(id));
            '''
schema6 = '''
            CREATE TABLE IF NOT EXISTS 
            cats(id int, 
                owner_id int, 
                name text, 
                breed text, 
                age int, 
                PRIMARY KEY(id), 
                FOREIGN KEY(owner_id) REFERENCES owners);
            '''
c.execute(schema5)
conn.commit()
c.execute(schema6)
conn.commit()

a) Write a SQL query to create an almost identical table as cats, except with an additional
column ’Nickname’ that has the value 'Kitten' for cats less than or equal to the age of 1,
'Catto' for cats between 1 and 15, and 'Wise One' for cats older than or equal to 15

In [ ]:
q4a = '''


'''
c.execute(q4a)

for row in c.fetchall():
    print (row)

b) Write a SQL query to figure out the number of cats, over the age of 10, of each breed of cat.

In [14]:
q4b = '''


'''
c.execute(q4b)

for row in c.fetchall():
    print (row)

c) Write a SQL query to figure out the number of cats each owner owns for cat owners
whose id is greater than 10

In [15]:
q4c = '''


'''
c.execute(q4c)

for row in c.fetchall():
    print (row)

d) Write a SQL query to figure out the owner_id/owner of the one cat owner who owns the
most cats

In [16]:
q4d = '''


'''
c.execute(q4d)

for row in c.fetchall():
    print (row)

e) Write a SQL query to figure out the names of all of the cat cat owners who have a cat
named Apricot.

In [17]:
q4e = '''


'''
c.execute(q4e)

for row in c.fetchall():
    print (row)

f) It is possible to have a cat with an owner not in the cat owners table.

True

False

your answer: *answer*

g) Write a SQL query to get a random sample of 5 random Siamese Cat (a cat breed) with a
name that starts with the letter A.

In [18]:
q4g = '''


'''
c.execute(q4g)

for row in c.fetchall():
    print (row)

h) (Challenge) Write a SQL query to select all rows from the cats table that have cats of
the top 5 most popular cat breeds.

In [ ]:
q4h = '''


'''
c.execute(q4h)

for row in c.fetchall():
    print (row)